<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038867874031-ojnh1l3a6p95jlu63keks6q7ci0tn4mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038867874031-ojnh1l3a6p95jlu63keks6q7ci0tn4mr</string>
	<key>API_KEY</key>
	<string>AIzaSyAcBpWGVQy8AHSLuoqlSj9NzHn2T6vCnp0</string>
	<key>GCM_SENDER_ID</key>
	<string>1038867874031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servicios</string>
	<key>PROJECT_ID</key>
	<string>servicios-a01fb</string>
	<key>STORAGE_BUCKET</key>
	<string>servicios-a01fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038867874031:ios:69954baa6632ebd0da9b1a</string>
</dict>
</plist>